@charset "UTF-8";

body {
    padding-top: 3.5rem
}

h1,h3 {
    font-family: "priori-sans"
}

.btn-sin {
    background-color: #c31237;
    color: #fff
}

.btn-sin:hover {
    background-color: #9c2c43;
    color: #fff
}

.btn-sin-inverse {
    background-color: white;
    color:#1a1a1a;
}

.btn-sin-inverse:hover {
    background-color: #9c2c43;
    color:white;
}

.hr-gold,.hr-red {
    background-color: #c31237;
    height: 2px;
    border: 0;
    padding: 0;
    margin: 2px 0 0
}

.hr-gold {
    background-color: #a87a00;
    margin: 3px 0 0
}

.divider-sin {
    background-color: rgba(196, 18, 57, .5);
    height: 2px
}

.shadow,.shadow-nohover {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    transition: box-shadow .08s cubic-bezier(.4, 0, .2, 1)
}

.shadow-nohover {
    transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1)
}

.card-bg {
    background-color: #fff
}

@media only screen and (max-width:768px) {
    .nav-sm {
        text-align: center
    }

    .nav-sm-btn {
        display: none
    }

    .nav-sm-li {
        color: #fff;
        background-color: #c31237;
        padding: 8px 20px;
        border-radius: 5px
    }

    .nav-sm-li:hover {
        color: #fff;
        text-decoration: none;
        background-color: #951832
    }

    .card-img-top {
        border-radius: 0
    }

    .card-img-profile {
        max-width: 100%;
        border-radius: 50%;
        margin-top: -100px;
        margin-bottom: -5px;
        border: 5px solid gray
    }
}

@media only screen and (min-width:768px) {
    .nav-sm-li {
        display: none
    }

    .card-img-profile {
        max-width: 50%;
        border-radius: 50%;
        margin-top: -30px;
        margin-bottom: -5px;
        border: 3px solid gray
    }
}

@media only screen and (min-width:992px) {
    .card-img-top {
        border-radius: 0
    }

    .card-img-profile {
        max-width: 100%;
        border-radius: 50%;
        margin-top: -70px;
        margin-bottom: -5px;
        border: 5px solid gray
    }
}

.workshop {
    color: #fff;
    text-align: center;
    background: url(images/workshop.png);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.jumb-photo {
    color: #fff;
    text-align: center;
    background: url(images/cover-compressor.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px
}

.social {
    color: #fff;
    text-align: center;
    background: url(images/sinf-background.png);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px
}

.card-name {
    text-align: center;
    padding-top: 8px
}

.card-position {
    font-variant-caps: small-caps;
    text-align: center;
    margin-top: -3px;
    padding-bottom: 3px
}

.card-footer {
    background-color: #ededed
}

.card-footer:hover {
	background-color: #D3D3D3;
}

.card-link, .card-link:hover {
	color:#181818;
	text-decoration: none;
}

.badge-sin {
	background-color:#6F6F6F;
	color:#fff;
	font-weight: normal;
	font-variant: normal;
	vertical-align: middle;
	padding: 8px;
}

.hideme {
    opacity: 0
}